<xml>
  <config>
      <width>1400</width>
    <height>1024</height>
    <fullscreen>0</fullscreen>
    <vsync>1</vsync>
    <bpp>32</bpp>
    <deffered_lighting>0</deffered_lighting>
    <depth_texture_size>512</depth_texture_size>   
    <post_effects>
      <deffered_lighting>data\\PostEffects\\post_effect_deffered_lighting.xml</deffered_lighting>
    </post_effects>    
  </config>
</xml>